<!doctype>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css"</link>
</head>
<body>
    <h1>Hello HTML View!</h1>
    <div class="btn-group">
        <div id="get" class="btn">GET</div>
        <div id="post" class="btn">POST</div>
        <div id="put" class="btn">PUT</div>
        <div id="del" class="btn">DELETE</div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/calls.js"></script>
</body>
</html>
