<!doctype>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css"</link>
</head>
<body>
    <h1>Hello HTML View!</h1>
    <div class="btn-group">
        <div id="get" class="btn">GET</div>
        <div id="post" class="btn">POST</div>
        <div id="put" class="btn">PUT</div>
        <div id="del" class="btn">DELETE</div>
    </div>    
</body>
</html>
